<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624486728323-6l72suaf9jbv5edl83nskh0hook1uqvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624486728323-6l72suaf9jbv5edl83nskh0hook1uqvg</string>
	<key>API_KEY</key>
	<string>AIzaSyBNvVmbsqKckc307sZAPYc0VBJMxUDuubA</string>
	<key>GCM_SENDER_ID</key>
	<string>624486728323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wizardblink.alchemy</string>
	<key>PROJECT_ID</key>
	<string>archemy-8c6f3</string>
	<key>STORAGE_BUCKET</key>
	<string>archemy-8c6f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624486728323:ios:e5be82af8d30e12176d1b6</string>
	<key>DATABASE_URL</key>
	<string>https://archemy-8c6f3.firebaseio.com</string>
</dict>
</plist>